.like{
    padding: 8px 12px;
    border-radius: 3px;
    border: 0;

}

.like-primary{
    background-color: #0d6efd;
    color: white;
}

.containerButton {
    border: none;
    background-color: transparent;
}